USE [master]
GO
/****** Object:  Database [SampleDB]    Script Date: 19-03-2022 03:29:41 PM ******/
CREATE DATABASE [SampleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SampleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SampleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SampleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SampleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SampleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SampleDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 19-03-2022 03:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](200) NULL,
	[Password] [varchar](200) NULL,
	[HireDate] [date] NULL,
	[Salary] [int] NULL,
	[Email] [varchar](200) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ManageEmployee]    Script Date: 19-03-2022 03:29:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mahesh>
-- Create date: <19-03-2022>
-- Description:	<Manage Employee>
-- Exec ManageEmployee 1
-- =============================================
CREATE PROCEDURE [dbo].[ManageEmployee] @Mode INT
	,@Id INT = 0
	,@Username VARCHAR(200) = NULL
	,@Password VARCHAR(200) = NULL
	,@HireDate DATE = NULL
	,@Salary INT = 0
	,@Email VARCHAR(200) = NULL
	,@Inserted INT OUT 
AS
BEGIN
	SET NOCOUNT ON;

	IF @Mode = 1
	BEGIN
		SELECT *
		FROM Employee
	END
	ELSE IF @Mode = 2
	BEGIN
		SELECT *
		FROM Employee
		WHERE Id = @Id
	END
	ELSE IF @Mode = 3
	BEGIN
		INSERT INTO Employee (
			[Username]
			,[Password]
			,[HireDate]
			,[Salary]
			,[Email]
			)
		VALUES (
			@Username
			,@Password
			,GETDATE()
			,@Salary
			,@Email
			)
			Set @Inserted = SCOPE_IDENTITY();
	END
	ELSE IF @Mode = 4
	BEGIN
		SELECT *
		FROM Employee
	END
	ELSE IF @Mode = 5
	BEGIN
		SELECT *
		FROM Employee
	END
END
GO
USE [master]
GO
